body {
    font-size: 12px;
}
td {
    font-size: 10px;
}
.flip {
    transform: rotateY(180deg);
}

.far, 
.fa, 
.fas {
    font-weight: 900;
}
.large-icon {
    font-size: 2.5em;
}
.bkgd-custom {
    background-color: #0d3c6e;
}